/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid grey; /*will remove when site is ready */
}

/* General Styles */
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto Mono", monospace;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #4f4f4f;
}
h1 {
  font-family: "Chelsea Market", cursive;
  font-size: 5rem;
}
section {
  padding: 4% 0;
}
a{
 text-decoration: none;
}
/* Header Section Styles */
nav{
 padding:2% 0;
}
nav a {
 display:inline-block;
 padding: 1% 0;
 width:15%;
 border-radius: 10px;
 text-align: center;
 color: white;
}
.orange{
background-color: #ff764e;
margin-left:7%;
}
.blue{
background-color:#5ED3EB ;
margin: 0 20%
}
.yellow{
 background-color:#FCD6F9 ;
margin-right:5%
}

/* Top section styles */
.top{ 
 position: relative;
}

.paragraph-sec{
 background:#DDB9A3;
 width: 90%;
 margin: auto;
 border-radius: 15px;
 padding: 20px 30px;
 color:#f4f4f4;
}

.top-paragraph{
margin-bottom: 10px;
}

.bottom-paragraph{
margin-top: 10px;
}

.left img{
 border-radius: 50%;
}

.left .right{
 text-align: center;
 display:inline-block
}

.left{ 
 width:30%;
}

.right h1{
 font-weight: bold;
}
.right h2{
 margin:20px;
 font-weight: bold;
}
.right h3{
 width:50%;
 margin:20px auto;
 font-weight: bold;
 text-align: center;
}

.right{
 width:55%;
 margin-left: 35%;
 position: absolute;
 top:15%;
 text-align: center;
}

.fire{
 width:25%;
margin:auto;
}

.reservation{ 
width:25%;
margin:auto;
}

.campfire{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%; 
 }

.camper{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

/* background image section */
.bottom-img{
 height: 40vh;
 background-image: url('assets/footer_img.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top;
}

/* Footer Section */
.footer{
 background-color: #F9E7DC;
}
